body {
  background-color: black;
  color: white;
}

.scrollbar-minimal::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-minimal::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-minimal::-webkit-scrollbar-thumb {
  background-color: rgb(55, 65, 81); /* gray-700 */
  border-radius: 3px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-minimal::-webkit-scrollbar-thumb:hover {
  background-color: rgb(75, 85, 99); /* gray-600 */
  background-clip: content-box;
}
